@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.doodle {
    animation: slideDown 0.5s ease-out; /* Add this line for animation */
}

.card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust gap between cards */
    justify-content: center; /* Center align cards */
    margin: 46px 0px 0px 55px;
}

/* Styling for each library card */
.lib_card {
    background-color: #e6ebed;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    height: 220px;
}

.bin {
    height: 15px;
    width: 12px;
}

.test_name {
    font: -webkit-small-control;
    margin-top: 1px;
    margin-left: 4px;
}

.lib_flex {
    display: flex;
}

.image_crtn {
    height: 160px;
    width: 291px;
    margin-bottom: 60px;
    border-radius: 10px;
    margin-top: 8px;
    margin-left: 4px;
    margin-right: 4px;
}

.text-check {
    margin-top: -75px;
    font: -webkit-small-control;
    display: flex;
    justify-content: space-between;
}

.btn-round {
    background-color: #f5f5f5;
    border-radius: 40px;
    padding: 5px;
    width: 19px;
    height: 18px;
}

.icon_mo {
    z-index: -1;
    position: absolute;
    margin-top: 13px;
    margin-left: 245px;
}

.checkbox_mo {
    position: absolute;
    margin-top: 13px;
    margin-left: 45px;
}

.more-opt {
    margin-right: 16px;
    margin-top: 20px;
}

.no-underline {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
}

/* Add media queries for responsive design */
@media (min-width: 768px) {
    .library_menu {
        position: fixed;
        bottom: 20px; /* Adjust as needed */
        left: 50%;
        transform: translateX(-50%);
        width: 30%;
        max-width: 600px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        background-color: #000000;
        color: #fff;
        border-radius: 6px;
    }
}

@media (max-width: 767px) {
    .library_menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        background-color: #000000;
        color: #fff;
        width: 400px;
        margin-left: 37%;
        border-radius: 6px;
        margin-top: 340px;
        margin-right: 121px;
        margin-bottom: 50px;
    }

    .lib_flex {
        margin: 5px 0;
    }

    .test_name p {
        margin: 0;
    }
}
